html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body#sign {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: wheat;


    form {
        width: 15%;
        height: 20%;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    label {
        margin-right: auto;
        margin-left: 0;
        margin-top: 15%;
        font-size: small;
    }

    button {
        width: 100%;
        height: 3em;
        background-color: cornflowerblue;
        margin-top: 15%;
        border-radius: 2em;
    }

    button:hover {
        cursor: pointer;
    }

    a {
        margin-left: 1%;
    }

    span {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 640px) {

        form {
            width: 50%;
            height: 50vh;

        }

        body>img {
            width: 30px;
            height: 30px;
            margin-top: 10px;
            object-fit: cover;
        }
        img {
            width: 80px;
            height: 80px;

        }
    }
}

body#home {
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    min-height: 100vh;
    margin: 0;
    padding: 0;

    /* start of dropdown style*/
    nav ul li:hover {
        background-color: #9a9a9a;
    }

    nav ul li:hover>ul {
        display: block;
    }

    .dropdown-menu {
        width: 20vw;
        height: fit-content;
        display: none;
        position: absolute;
        background-color: #333;
        padding: 0;
        margin-top: 0;
    }

    .dropdown-menu li {
        float: none;
    }

    .dropdown-menu li a {
        padding: 10px;
        display: block;
        color: #fff;
        text-decoration: none;
    }

    .dropdown-menu li a:hover {
        background-color: #555;
    }

    /* end of dropdown style*/

    header {
        grid-area: header;
        background-color: #d3d1d1;
        color: white;
        padding: 1rem;
    }

    /*Start of the nav style.*/
    nav {
        width: 100%;
        height: 25vh;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav ul {
        width: 100%;
        height: 100%;

        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav ul li:last-child img {
        width: 60px;
        height: 60px;

        border-radius: 100%;
    }

    nav ul li:last-child {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        color: #0c0a0a;
        font-weight: 600;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li form {
        display: flex;
        flex-direction: column;
    }

    nav li form label {
        color: #333;
    }

    /*End of the nav style.*/
    /*Start of the aside style.*/
    aside {
        grid-area: aside;

        background-color: beige;
        text-align: center;
        padding-top: 10%;
    }

    aside h2 {
        margin-bottom: 10%;
    }

    aside ul {
        height: 100%;
        display: flex;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: beige;
        color: black;


    }

    aside ul li {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: #333 solid 1px;
    }

    aside ul li button {
        font-size: small;
        width: fit-content;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        background-color: #72a1f9;
        color: beige;
        border-radius: 10px;
    }

    /*End of the aside style.*/
    main {
        grid-area: main;
        color: white;
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    main img {
        width: 25%;
        height: 100%;
        margin-top: 5%;

        object-fit: cover;

    }

    /*footer style:*/
    footer {
        grid-area: footer;
        background-color: #72a1f9;
        color: white;
        margin-top: 10%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }

    footer ul {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    footer ul li a {
        text-decoration: underline;
        color: beige;
    }

    footer ul li a:visited {
        color: white;
        text-decoration: none;
    }

    /*start of the displays's style under 640px  :*/
    @media screen and (max-width: 640px) {
        nav ul li img {
            width: 20px;
            height: 20px;
            object-fit: cover;
        }

        aside ul li {
            width: 100%;
            height: fit-content;
            border: darkgrey solid 2px;
        }

        aside ul li a button {
            width: fit-content;
            height: 50%;
            color: beige;
        }

        main>img {
            height: 30%;
        }


        /*start of the displays's style under 640px for the nav bar  :*/
        nav {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: end;
        }

        nav ul {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: end;
            padding: 0;
        }

        nav input {
            width: 50%;
        }

        nav img {
            width: 10%;
            height: 10%;
            object-fit: fill;
        }

        nav form {
            width: 100%;
            height: 20%;
            margin-left: auto;
            margin-right: 40%;
        }

        form label {
            display: none;
        }

        nav:first-child {
            font-size: small;
        }

        nav ul {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-evenly;
            align-items: end;
        }

        nav ul img {
            scale: 0.6;
        }

        /*end of the responsive style to the navbar.*/
        aside {
            padding: 0;
        }

        aside ul li {
            width: 100%;
            margin: 0;
            font-size: smaller;
        }

        aside ul li :no-button {
            margin-left: 10px;
        }

        footer {
            margin-top: 10px;
        }
    }
}
